flask
flask-cors
yfinance
pandas
numpy
termcolor
requests
python-dotenv
pytz
multitasking>=0.0.11  # Required by yfinance
beautifulsoup4>=4.12.2  # Required by yfinance
html5lib>=1.1  # Required by yfinance
Werkzeug
Jinja2 